In [31]:
import pandas as pd # import pandas (to read and work with csv files)
import numpy as np # import numpy (to create arrays)
import matplotlib.pyplot as plt # import matplotlib.pyplot (to create plots)
import seaborn as sns # import seaborn (to create plots)
from sklearn.preprocessing import StandardScaler # import StandardScaler (to scale data)

### Primera inspección del set de datos
Vemos que no tiene nombres de columnas, las añadiremos por comodidad

In [32]:
data = pd.read_csv('data/creditcardmarketing.csv') # read csv file and store in data
data.head()

,1,No,Air Miles,Letter,High,1.1,No.1,High.1,2,1.2,4,No.2,1160.75,1669,877,1095,1002
0,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
1,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
2,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
3,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0
4,6,No,Air Miles,Letter,Medium,1,No,High,3,1,4,No,1114.75,1847.0,1365.0,750.0,497.0

In [33]:
nomcolum = ['Customer number', 'Offer accepted','Reward', 'Mailer type', 'Income Level', 'Bank accounts opened', 'Overdraft protection', 'Credit Rating',
            'Credit cards held', 'Homes Owned', 'Household size', 'Owned home', 'Avg balance Q1',
            'Avg balance Q2', 'Avg balance Q3', 'Avg balance Q4']
data = pd.read_csv('data/creditcardmarketing.csv', names =nomcolum,index_col=False) 
data.head()

C:\Users\david\AppData\Local\Temp\ipykernel_21736\1446645814.py:4: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  data = pd.read_csv('data/creditcardmarketing.csv', names =nomcolum,index_col=False)

,Customer number,Offer accepted,Reward,Mailer type,Income Level,Bank accounts opened,Overdraft protection,Credit Rating,Credit cards held,Homes Owned,Household size,Owned home,Avg balance Q1,Avg balance Q2,Avg balance Q3,Avg balance Q4
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0

In [36]:
data.describe()

,Customer number,Bank accounts opened,Credit cards held,Homes Owned,Household size,Avg balance Q1,Avg balance Q2,Avg balance Q3,Avg balance Q4
count,18000.000000,18000.000000,18000.000000,18000.000000,18000.000000,17976.000000,17976.000000,17976.000000,17976.000000
mean,9000.500000,1.255778,1.903500,1.203444,3.499056,940.515562,910.450656,999.392190,1042.033600
std,5196.296758,0.472501,0.797009,0.427341,1.114182,350.297837,620.077060,457.402268,553.452599
min,1.000000,1.000000,1.000000,1.000000,1.000000,48.250000,0.000000,0.000000,0.000000
25%,4500.750000,1.000000,1.000000,1.000000,3.000000,787.500000,392.750000,663.000000,633.000000
50%,9000.500000,1.000000,2.000000,1.000000,3.000000,1007.000000,772.000000,1032.000000,945.500000
75%,13500.250000,1.000000,2.000000,1.000000,4.000000,1153.250000,1521.000000,1342.000000,1463.000000
max,18000.000000,3.000000,4.000000,3.000000,9.000000,3366.250000,3450.000000,3421.000000,3823.000000

### Limpieza del dataset

Eliminamos valores nulos y vacios

In [38]:
data.isna().sum()

Customer number          0
Offer accepted           0
Reward                   0
Mailer type              0
Income Level             0
Bank accounts opened     0
Overdraft protection     0
Credit Rating            0
Credit cards held        0
Homes Owned              0
Household size           0
Owned home               0
Avg balance Q1          24
Avg balance Q2          24
Avg balance Q3          24
Avg balance Q4          24
dtype: int64